@use "abstracts/variables";
@use "abstracts/mixins";
@use "layouts/header.scss";
@use "layouts/footer.scss";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Aspect général du site ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: variables.$color-quaternary;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
  margin: 30px 20px 0 20px;
  position: relative;

  &::after {
    content: "";
    top: 1.4em;
    left: 0;
    position: absolute;
    height: 0.1rem;
    width: 2rem;
    background-color: variables.$color-tertiary;
  }
}

h4 {
  font-size: 1em;
  font-weight: 500;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
  line-height: 1.8em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.menu {
  width: 100%;
  background-color: variables.$color-quaternary;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: -8vh;

  &__titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }

  .icones {
    position: relative;

    .fa-solid {
      position: absolute;
      right: 10px;
      top: -8px;
      color: transparent;
      background: linear-gradient(
        180deg,
        variables.$color-primary 0%,
        variables.$color-secondary 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 1;
        transform: scale(1.3);
        animation: pulsation 0.4s infinite;
      }
    }

    .fa-regular {
      position: absolute;
      top: -8px;
      right: 10px;

      &:hover {
        opacity: 0;
      }
    }
  }

  .menuBloc {
    display: flex;
    flex-direction: column;

    &__specialite {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 90%;
      height: 60px;
      line-height: 23px;
      margin: 20px;
      box-shadow: variables.$box-shadow;
      border-radius: 0.5em;
      transition: all 0.2s ease-in-out;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation: apparition 1s ease-out both;
          animation-delay: $i * 0.3s;
        }
      }

      &:hover .menuBloc__ok {
        margin-right: -2px;
        animation: valide 0.3s ease-in-out;

        .fa-circle-check {
          animation: roue 0.3s cubic-bezier(0.5, 0, 1, 1);
        }
      }
    }

    &__ok {
      height: 100%;
      width: 3em;
      background-color: variables.$color-tertiary;
      color: #fff;
      text-align: center;
      font-size: 1.1em;
      padding: 1em;
      border-radius: 0 0.5em 0.5em 0;
      margin-right: -10rem;
      transition: all 0.2s ease-in-out;
    }

    &__txt {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: fade(10px) ellipsis;
      width: 280px;
      padding: 5px 15px;
    }

    &__prix {
      display: flex;
      padding: 5px;
      height: 100%;
      width: 2em;
      align-items: flex-end;
      margin-right: 1em;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Bouton ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: variables.$color-secondary;
  background: linear-gradient(
    176deg,
    variables.$color-secondary 0%,
    variables.$color-primary 100%
  );
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: variables.$box-shadow;
  height: 50px;
  width: 250px;
  margin: 50px auto 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(2px);
    background: variables.$color-secondary;
    background: linear-gradient(
      180deg,
      variables.$color-secondary 0%,
      variables.$color-primary 100%
    );
    box-shadow: 0 0.1rem 1.1rem rgba(0, 0, 0, 0.3);
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Animations du menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes valide {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes roue {
  0% {
    transform: rotate(260deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
