$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-quaternary: #f6f6f6;
$box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
$img-radius: 0.5rem 0.5rem 0 0;

// Aspect général du site

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(234, 234, 234);
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  text-align: center;
}

h2 {
  margin: 25px;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
}

h4 {
  margin: 0 30px;
  font-size: 1.6em;
  font-weight: 500;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
  line-height: 1.8em;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: $img-radius;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
  .logo {
    width: 100%;
    height: 60px;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: $box-shadow;
  }

  .localisation {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    i {
      margin-right: 5px;
    }
  }

  .explore {
    // Accroche
    background-color: $color-quaternary;
    padding: 20px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-secondary;
    background: linear-gradient(
      176deg,
      $color-secondary 0%,
      $color-primary 100%
    );
    color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: $box-shadow;
    height: 50px;
    width: 250px;
    margin: 20px auto;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(3px);
      background: $color-secondary;
      background: linear-gradient(
        180deg,
        $color-secondary 0%,
        $color-primary 100%
      );
      box-shadow: 0 0.1rem 1.1rem rgba(0, 0, 0, 0.3);
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Section : Fonctionnement ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.fonctionnement {
  padding: 20px 0;
  background-color: #fff;

  .fonctionnement__container {
    margin: 15px;
    display: block;
  }
}

.faux-btn {
  position: relative;
  display: flex;

  &__numero {
    position: absolute;
    top: 45px;
    left: 10px;
    background-color: $color-primary;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #fff;
    font-size: 0.8em;
    padding: 0.4em;
    text-align: center;
  }

  &__txt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 70px;
    width: 350px;
    background-color: $color-quaternary;
    border-radius: 20px;
    box-shadow: $box-shadow;
    font-weight: 500;
    padding-left: 15px;

    &--violet {
      background-color: lighten($color: $color-primary, $amount: 35%);
    }
  }

  .ico__color {
    position: absolute;
    left: 55px;
    color: #585858;

    &--violet {
      @extend .ico__color;
      color: $color-primary;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Les restaurants ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.restaurants {
  margin: 50px 0;
}

.carte {
  height: 250px;
  width: 20em;
  margin: 30px auto;
  border-radius: 0.8em;
  background-color: #fff;
  box-shadow: $box-shadow;

  &__img {
    object-fit: cover;
    height: 75%;

    img {
      width: 100%;
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 300;

    p {
      margin: 5px 0;
      font-size: 0.8em;
    }
  }
}

.nouveau {
  position: relative;

  &::before {
    content: "Nouveau";
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 40%);
    padding: 0.5em;
    border-radius: 0.2em;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  background-color: #353535;
  color: #fff;
  padding: 1em 2em;
}

.footer__logo {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  margin: 20px 0;
}
