@charset "UTF-8";
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Animations de spetits cœurs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Animations du menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes validation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rouleIco {
  0% {
    transform: rotate(260deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.loader {
  margin: 0;
  padding: 0;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f6f6f6;
  opacity: 1;
  z-index: 99999;
  animation: endloader 1s ease 3s forwards;
}
.loader__inner {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: linear-gradient(#9356dc, #ff79da, #99e2d0);
  animation: spinner 1.2s linear infinite;
}
.loader__inner span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#9356dc, #ff79da, #99e2d0);
}
.loader__inner span:nth-child(1) {
  filter: blur(5px);
}
.loader__inner span:nth-child(2) {
  filter: blur(10px);
}
.loader__inner span:nth-child(3) {
  filter: blur(25px);
}
.loader__inner span:nth-child(4) {
  filter: blur(50px);
}
.loader__inner::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: #f6f6f6;
  border: solid white 10px;
  border-radius: 50%;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes endloader {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -100%);
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
  background-color: #fff;
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Général : logo ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Index : localisation et phrase d'accroche ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
}
header .bandeau {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0.1rem 1.1rem rgba(0, 0, 0, 0.3019607843);
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Pages restaurants : Flèche retour ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Pages restaurants : Image de couverture ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
}
header .bandeau .accroche {
  background-color: #f6f6f6;
  padding: 20px;
}
header .bandeau__fleche {
  position: absolute;
  left: 20px;
  height: 20px;
  width: 50px;
}
header .bandeau .couverture {
  position: absolute;
  top: 10vh;
}
header .localisation {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
}
header .localisation i {
  margin-right: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
  background-color: #353535;
  color: #fff;
  padding: 1em 2em;
}

.footer__logo {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  margin: 20px 0;
}

.ico {
  width: 25px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Aspect général du site ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
  margin: 30px 20px 0 20px;
  position: relative;
}
h3::after {
  content: "";
  top: 1.4em;
  left: 0;
  position: absolute;
  height: 0.1rem;
  width: 2rem;
  background-color: #99e2d0;
}

h4 {
  margin: 0 30px;
  font-size: 1.6em;
  font-weight: 500;
  text-align: left;
}

h5 {
  font-size: 1em;
  font-weight: 700;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
  line-height: 1.8em;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Phrases d'accroche ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.accroche__principal {
  text-align: center;
  margin: 25px;
  font-size: 2em;
  font-weight: 500;
}
.accroche__principal:nth-child(2) {
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header et bouton principal ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
  background-color: #f6f6f6;
}
header .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff79da;
  background: linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3019607843);
  height: 50px;
  width: 250px;
  margin: 20px auto;
  transition: all 0.2s ease-in-out;
}
header .btn:hover {
  transform: translateY(2px);
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0 0.1rem 1.1rem rgba(0, 0, 0, 0.3);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Section : Fonctionnement ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.fonctionnement {
  padding: 20px 0;
  background-color: #fff;
}
.fonctionnement__container {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .fonctionnement__container {
    flex-direction: column;
    justify-content: center;
  }
}

.faux-btn {
  position: relative;
  display: flex;
  /* ~~~~~~~~~~~~~~~~ Cœur ~~~~~~~~~~~~~~~~ */
}
.faux-btn__numero {
  position: absolute;
  top: 45px;
  left: 10px;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #fff;
  font-size: 0.8em;
  padding: 0.4em;
  text-align: center;
}
.faux-btn__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 70px;
  width: 350px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3019607843);
  font-weight: 500;
  padding-left: 15px;
}
.faux-btn__txt--violet {
  background-color: #f2eafb;
}
.faux-btn .ico__color, .faux-btn .ico__color--violet {
  position: absolute;
  left: 55px;
  color: #585858;
}
.faux-btn .ico__color--violet {
  color: #9356dc;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Les restaurants ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.restaurants {
  margin: 20px 0;
}

.cartes_conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: 1rem;
  margin: 30px auto;
}
.cartes_conteneur .carte {
  height: 250px;
  width: 20em;
  margin: 0 auto;
  border-radius: 0.8em;
  background-color: #fff;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3019607843);
}
.cartes_conteneur .carte__img {
  object-fit: cover;
  height: 75%;
}
.cartes_conteneur .carte__img img {
  width: 100%;
}
.cartes_conteneur .carte__description {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 300;
}
.cartes_conteneur .carte__description p {
  margin: 5px 0;
  font-size: 0.8em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ Cœurs ~~~~~~~~~~~~~~~~~~~~~~~~~ */
.icones {
  position: relative;
}
.icones .fa-solid {
  position: absolute;
  right: 3px;
  color: transparent;
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.icones .fa-solid:hover {
  opacity: 1;
  transform: scale(1.3);
  animation: pulsation 0.4s infinite;
}
.icones .fa-regular {
  position: absolute;
  right: 3px;
}
.icones .fa-regular:hover {
  opacity: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Vignette "Nouveau" ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.nouveau {
  position: relative;
}
.nouveau::before {
  content: "Nouveau";
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #278870;
  padding: 0.5em;
  border-radius: 0.2em;
  box-shadow: 1px 1px 20px black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.menu {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: -8vh;
}
.menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~ Cœurs ~~~~~~~~~~~~~~~~~~~~~~~~~ */
}
.menu__titre--nomResto {
  min-width: 2rem;
}
@media screen and (min-width: 360px) and (max-width: 400px) {
  .menu__titre--nomResto {
    width: 250px;
  }
}
.menu__titre .icones {
  position: relative;
}
.menu__titre .icones .fa-solid {
  position: absolute;
  right: 3px;
  top: -8px;
}
.menu__titre .icones .fa-regular {
  position: absolute;
  right: 3px;
  top: -8px;
}
.menu__titre .icones .fa-regular:hover {
  opacity: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ Cœurs animés ~~~~~~~~~~~~~~~~~~~~~~~~~ */
.icones {
  position: relative;
}
.icones .fa-solid {
  position: absolute;
  right: 10px;
  top: 0;
  color: transparent;
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.icones .fa-solid:hover {
  opacity: 1;
  transform: scale(1.3);
  animation: pulsation 0.4s infinite;
}
.icones .fa-regular {
  position: absolute;
  top: 0;
  right: 10px;
}
.icones .fa-regular:hover {
  opacity: 0;
}

.menuBloc {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 15px;
}
.menuBloc h3 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
}
.menuBloc__specialite {
  grid: 1fr/3fr;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 70px;
  line-height: 23px;
  overflow: hidden;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3019607843);
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
}
.menuBloc__specialite > * {
  width: 100%;
  padding: 5px 0 5px 10px;
}
.menuBloc__specialite:nth-child(1) {
  animation: apparition 1s ease-out both;
  animation-delay: 0.3s;
}
.menuBloc__specialite:nth-child(2) {
  animation: apparition 1s ease-out both;
  animation-delay: 0.6s;
}
.menuBloc__specialite:nth-child(3) {
  animation: apparition 1s ease-out both;
  animation-delay: 0.9s;
}
.menuBloc__specialite:nth-child(4) {
  animation: apparition 1s ease-out both;
  animation-delay: 1.2s;
}
.menuBloc__specialite:hover .menuBloc__specialite--ok {
  margin-right: 0px;
  animation: validation 0.3s ease-in-out forwards;
}
.menuBloc__specialite:hover .menuBloc__specialite--ok .fa-circle-check {
  animation: rouleIco 0.3s cubic-bezier(0.5, 0, 1, 1);
}
.menuBloc__specialite--prix {
  display: grid;
  padding: 5px;
  height: 100%;
  width: 10%;
  align-items: end;
  justify-content: end;
  margin: 0 0.9em 0 0;
}
.menuBloc__specialite .debordement {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menuBloc__specialite--ok {
  height: 100%;
  width: 3em;
  background-color: #99e2d0;
  color: #fff;
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  border-radius: 0 0.5em 0.5em 0;
  margin-right: -3.5rem;
  transition: all 0.2s ease-in-out;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Carte version mobile ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 768px) {
  .menuBloc {
    display: flex;
    flex-direction: column;
  }
  .menuBloc__specialite {
    display: flex;
    align-items: flex-end;
    height: 60px;
    margin: 20px 20px 0 20px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
  }
  .menuBloc__specialite--txt {
    overflow: hidden;
    width: 90%;
    padding: 5px 0 5px 10px;
  }
  .menuBloc__specialite--prix {
    display: flex;
    width: 10%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 8px;
  }
  .menuBloc__specialite--ok {
    margin-right: -3.7rem;
    transition: all 0.2s ease-in-out;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Bouton ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff79da;
  background: linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3019607843);
  height: 50px;
  width: 250px;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: translateY(2px);
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
}

/*# sourceMappingURL=style.css.map */
