$couleur-primaire: rgb(147, 86, 220);
$couleur-secondaire: rgb(255, 121, 218);
$couleur-tertiaire: rgb(153, 226, 208);
$couleur-quaternaire: rgb(246, 246, 246);
$ombre: 0 0.3rem 1rem #0000004d;
$img-arrondi: 0.5rem 0.5rem 0 0;
$degrade-couleur: linear-gradient(
  to right,
  $couleur-primaire,
  $couleur-secondaire
);
