$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$couleur-quaternaire: #f6f6f6;
$ombre: 0 0.3rem 1rem #0000004d;
$img-arrondi: 0.5rem 0.5rem 0 0;
$degrade-couleur: linear-gradient(
  to right,
  $couleur-primaire,
  $couleur-secondaire
);
$couleur-coeur: linear-gradient(
  180deg,
  $couleur-primaire 0%,
  $couleur-secondaire 100%
);
