/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
  background-color: #353535;
  color: #fff;
  padding: 1em 2em;
}

.footer__logo {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  margin: 20px 0;
}

.ico {
  width: 25px;
}