/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Général : logo ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .bandeau {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.1rem #0000004d;

    .explore {
      // Accroche
      background-color: #f6f6f6;
      padding: 20px;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Pages restaurants : Flèche retour ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    &__fleche {
      position: absolute;
      left: 20px;
      height: 20px;
      width: 50px;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Pages restaurants : Image de couverture ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .couverture {
      position: absolute;
      top: 10vh;
    }
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Index : localisation et phrase d'accroche ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .localisation {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: darken($color: #f6f6f6, $amount: 10%);
    i {
      margin-right: 5px;
    }
  }
}
