.loader {
  margin: 0;
  padding: 0;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f6f6f6;
  opacity: 1;
  z-index: 99999;
  animation: endloader 1s ease 3s forwards;

  &__inner {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(#9356dc, #ff79da, #99e2d0);
    animation: spinner 1.2s linear infinite;

    span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(#9356dc, #ff79da, #99e2d0);

      &:nth-child(1) {
        filter: blur(5px);
      }
      &:nth-child(2) {
        filter: blur(10px);
      }
      &:nth-child(3) {
        filter: blur(25px);
      }
      &:nth-child(4) {
        filter: blur(50px);
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background: #f6f6f6;
      border: solid white 10px;
      border-radius: 50%;
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes endloader {
    0% {
      opacity: 1;
    }

    75% {
      opacity: 0;
      transform: translate(0, 0);
    }

    100% {
      opacity: 0;
      transform: translate(0, -100%);
    }
  }
}
